<br>
<div class='parent flex-parent'>
    <div class='child flex-child'><img src="/assets/page/wojciech-marusarz.webp"></div>
    <div class='child flex-child2'>
        <br>
        <br>
        Lubię pracować w małych zespołach, gdzie jakość kodu i kierunek rozwoju projektu są kluczowe. W dłuższej
        perspektywie pozwala mi to na szerokie zrozumienie tematu, rozwój osobisty i poszukiwanie wyzwań. Zajmuje się
        programowaniem w Javie i Kotlinie. Dodatkowo interesuję się narzędziami Big Data, co czyni mnie idealnym
        kandydatem do wdrożeń różnych aplikacji Data-Intensive.
    </div>
</div>


